.nav ul {
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -8px;
  margin-bottom: 20px;
  margin-inline-start: 160px;
}
.nav li {
  display: inline-block;
  font-size: 0.6rem;

}
h1{
  font-size: 3.3rem;
  background-color: white;
  margin-inline-start: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.linje{
  border-left: 2px solid black;
  height: 1300px;
  position: absolute;
  top: 0%;
  left: 15%;
}

#knap02{
  font-size: 1rem;
  color: gray;
  background-color: white;
  border: none;
  margin: 20px;
  position: absolute;
  top: 15%;
  left: 1%;
}
#knap03{
  font-size: 1rem;
  color: gray;
  background-color: white;
  border: none;
  margin: 20px;
  position: absolute;
  top: 35%;
  left: 1%;
}
#knap04{
  font-size: 1rem;
  color: gray;
  background-color: white;
  border: none;
  margin: 20px;
  position: absolute;
  top: 55%;
  left: 1%;
}
#knap05{
  font-size: 1rem;
  color: gray;
  background-color: white;
  border: none;
  margin: 20px;
  position: absolute;
  top: 75%;
  left: 1%;
}
#knap02:hover, #knap03:hover, #knap04:hover,#knap05:hover{
  color: black;
}

button{
  position: absolute;
  border:solid 1px black;
  background-color: white;
  top: 160%;
  left: 50%; 
}

.hide{
  display:none;
}

#billede_02_1{
  position: absolute;
  top: 90%;
  left: 16%;
  width: 10em;
  height: 10px;
}

#billede_02_2{
  position: absolute;
  top: 20%;
  left: 33%;
}

#tekst_02_1{
  border: solid 1px;
  position: absolute;
  top: 65%;
  left: 22%; 
}
#tekst_02_2{
  border: solid 1px;
  position: absolute;
  top: 140%;
  left: 22%; 
}


@media (min-width: 600px){
.nav ul {
    text-align: center;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
  }
  .nav li {
    display: inline-block;
    font-size: 1rem;
    line-height: 40px;
    height: 40px;
    padding-inline: 5px;
    transition: all 500ms;
  }

  h1{
  font-size: 6rem;
  margin-inline-start: 83px;
  margin-top: -40px;
  margin-bottom: -10px;
}
.linje{
  display: none;
}

  /*styling af menu*/

  #knap02{
    font-size: 4rem;
    position: absolute;
    top: 25%;
    left: 5%;
  }
  #knap03{
    font-size: 4rem;
    position: absolute;
    top: 35%;
    left: 5%;
}
#knap04{
    font-size: 4rem;
    position: absolute;
    top: 45%;
    left: 5%;
}
#knap05{
    font-size: 4rem;
    position: absolute;
    top: 55%;
    left: 5%;
}


#billede_02_1{
  position: absolute;
  top: 60%;
  left: 70%;
}

#billede_02_2{
  position: absolute;
  top: 20%;
  left: 48%;
}

#tekst_02_1{
  border: solid 1px;
  line-height: 85px;
  position: absolute;
  top: 20%;
  left: 70%; 
}
#tekst_02_2{
  border: solid 1px;
  line-height: 85px;
  position: absolute;
  top: 60%;
  left: 48%; 
}

/*sort hover på menu knapper*/
#knap02:hover, #knap03:hover, #knap04:hover,#knap05:hover{
    color: black;
}


button{
  position: absolute;
  border:solid 1px black;
  background-color: white;
  top: 98%;
  left: 65%; 
}


/*java styling*/

.hide{
  display:none;
}
}