.nav ul {
    text-align: center;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
  }
  .nav li {
    display: inline-block;
    font-size: 1rem;
    line-height: 40px;
    height: 40px;
    padding-inline: 5px;
    transition: all 500ms;
  }

  .hide{
    display:none;
  }


  /*styling af menu knapper*/

  #knap02{
    font-size: 4rem;
    color: gray;
    background-color: white;
    border: none;
    margin: 20px;
    position: absolute;
    top: 25%;
    left: 5%;
  }
  #knap03{
    font-size: 4rem;
    color: gray;
    background-color: white;
    border: none;
    margin: 20px;
    position: absolute;
    top: 35%;
    left: 5%;
}
#knap04{
    font-size: 4rem;
    color: gray;
    background-color: white;
    border: none;
    margin: 20px;
    position: absolute;
    top: 45%;
    left: 5%;
}
#knap05{
    font-size: 4rem;
    color: gray;
    background-color: white;
    border: none;
    margin: 20px;
    position: absolute;
    top: 55%;
    left: 5%;
}
  
#knap02:hover, #knap03:hover, #knap04:hover,#knap05:hover{
    color: black;
}